<h2>Administration Control Panel :: Manage pastes</h2>
<form method="post" action="?find" name="find">
	<input name="find_paste" class="wide_input">&nbsp;&nbsp;<input value="Submit" type="submit">
</form>
<!-- naidis info-->
Results:<br><table class="wide_table"><tbody><tr><td>Preview1</td><td>edit</td><td>delete</td><td>user</td></tr><tr><td>Preview2</td><td>edit</td><td>delete</td><td>user</td></tr><tr><td>Preview3</td><td>...</td><td>....</td><td>....</td></tr><tr><td>...</td><td></td><td></td><td></td></tr><tr><td></td><td></td><td></td><td></td></tr><tr><td>Previewn</td><td></td><td></td><td></td></tr></tbody></table><br>Page n of &nbsp;N &nbsp;&lt;&lt; prev n-2 n-1 n n+1&nbsp;n+2 next &gt;&gt;<br><br>
</td>
<td class="rightcol">
	<h2>OPTIONS</h2>
	<a href="./?a=acp_users" class="bright">Manage users</a><br>
	Manage pastes
</td>
</tr>
</tbody>
</table>