<h2>Signin</h2>
<form method="post" action="?a=signin" name="signin"><br>
	<table>
		<tbody>
			<tr>
				<td>Username:</td>
				<td><input name="UserName" value=""></td>
			</tr>
			<tr>
				<td>Password: </td>
				<td>
					<input name="UserPassword" type="password"><br>
					<input name="remember" type="checkbox"> Remember me<br>
				</td>
			</tr>
		</tbody>
	</table>
	<input value="Submit" type="submit"> forgot
	password? forgot username?<br>
</form>
<br>
<br>
<a href="login_with_facebook.php" id="login_with_facebook">Login With Facebook</a>
</td>
<td class="rightcol">
{{./template/right.html}}
</td>
</tr>
</tbody>
</table>