<h2>Signup</h2>
<form method="post" action="?a=registerconfirm" name="paste">
	<br>
	<table>
		<tbody>
			<tr>
				<td>Username:</td>
				<td><input name="UserName" value=""></td>
			</tr>
			<tr>
				<td>Email Address: </td>
				<td><input name="UserEmail"><br></td>
			</tr>
			<tr>
				<td>Password:</td>
				<td><input name="UserPassword"><br></td>
			</tr>
			<tr>
				<td>Password Again: </td>
				<td><input name="UserPasswordConfirm"><br></td>
			</tr>
			<tr>
				<td>Captcha Image: </td>
				<td>
					<img src="http://latex.codecogs.com/png.latex?\displaystyle%20\begin{align*}%20|z|%20&=%20\sqrt{%20\left%28%20\frac{1%20-%20t^2}{1%20+%20t^2}%20\right%29%20^2%20+%20\left%28%20\frac{2t}{1%20+%20t^2}%20\right%29%20^2%20}%20\end{align*}"></img>
				</td>
			</tr>
			<tr>
				<td>Enter Captcha: </td>
				<td><input name="captcha"></td>
			</tr>
		</tbody>
	</table>
	<input value="Submit" type="submit"> forgot
	password? forgot username?<br>
</form>
</td>
<td class="rightcol">
<h2>Latest public pastes</h2>
</td>
</tr>
</tbody>
</table>