<span style="font-weight: bold;">{%$paste[0]['title']%}<br></span>
By {%$paste[0]['UserName']%} on {%$paste[0]['created']%} | Language:
{%$paste[0]['language']%} | Expires:{%$paste[0]['expiration']%} {%$paste_actions%}<br>
<!--Download | Raw | Delete | Report <br> -->
<br>
<pre class="brush: {%$paste[0]['language']%};fontsize: 100; first-line: 1; " style="">{%$paste[0]['paste']%}
</pre>
<br>
<br>
<a class="bright" style="float: right;" href="?a=new">New paste</a>
<span style="font-weight: bold;">raw</span><br>
<textarea cols="100" rows="10" name="raw">{%$paste[0]['paste']%}</textarea></td>
<td class="rightcol">
{{./template/right.html}}
</td>
</tr>
</tbody>
</table>