/*
databush  teha - server saaks ise andmeid saata
Tagid
*/

div.head {
    background-color:#2D5682;
    border-radius:5px;
}

div.body {
    background-color:#F7FBFC;
    border-radius:5px;
}

table,tr,td {
	border:0px;
}

h1 {
	color: #ffffff;
	text-shadow: 1px 2px 2px #15588a;
}

h2 {
	color: #225985;
	text-shadow: 1px 2px 2px #15588a;
}

a {
	color: #cccccc;
	text-shadow: 1px 2px 2px #15588a;
	text-decoration:none;
}

a.bright{
	color: #225985;
	text-shadow: 1px 2px 2px #15588a;
	text-decoration:none;
}

a.bright:hover {
	color: #328586 !important;
	text-shadow: 1px 2px 2px #15588a;
	text-decoration:none;
}

a:hover {
	color: #ffffff !important;
	text-shadow: 1px 2px 2px #15588a;
	text-decoration:none;
}
td{
	vertical-align: top;
}